/* for the links to expand and collapse */
a.toggle_open {
   margin-bottom: .5em;
}

a.toggle_close {
    margin-left: 3em;
    margin-bottom: 1em;
}
/* end for the links to expand and collapse */


/* to set styles for all elements of the given tags */

html {
	height: 101%;
	}

body {
	font-family: Arapey;
	color: #5a5c5c;
	background-color: #DBDCDD;
	width: 100%;
	margin: -.01em;
}

#container {
    max-width: 80em;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

a {
	font-family: Arapey;
	color: #5a5c5c;
	font-weight: bold;
	text-decoration:none;
}

a:visited {
	color: #5a5c5c;
}

a:hover {
	color: #5a5c5c;
}

a:active {
	color: #5a5c5c;
}


h1 {
	font-family: Calligraffitti;
	color: #5a5c5c;
	text-align: center;
	font-size: 1.5em;
}

h2 {
	font-family: Calligraffitti;
	color: #5a5c5c;
	text-align: center;
	font-size: 2em;
	padding: 1em 0;
}

/* end setting styles for all elements of the given tags */

/* to set styles for header elements. */

#logo {
    max-width: 43%;
    width: 100%;
	float:left;
	padding: 0 0 0 1%;
}

.brand_logo {
    max-width: 100%;
}

#rainbow {
	background-image:url(../../images/Rainbow.png);
	background-repeat: no-repeat;
	position:relative;
	margin: 0em;
	max-width: 100%;
    width: 100%;
	height: 400px;
    align-content: center;
	padding:0;
}

#header {
	width: 100%;
	max-width: 80em;
	margin: auto;
	padding: 0em;
}

#products {
    max-width: 30%;
    width: 100%;
    position: relative;
    top: -8em;
    left: 10em;
   
    
}

.header {
	font-weight:normal;
	font-size: 1.8em;
	text-shadow: .25em .25em .25em #666;
	width: 40%;
    margin-top: 0em;
    padding: 0 .3em .15em 11.5em;
	text-align: right;
}
	
/* end setting styles for named header elements. */

/* begin setting styles for named menu elements and corresponding content. Each menu title has a different background color corresponding with the header rainbow and a different indent to create an angled effect. */

#menu {
	margin: 0px;
	width:100%;
}

#about {
	background-color: #765291;
	text-indent: 10%;
	height:14%;
}

#about-text {
	background-image:url(../../images/clouds.png);
	background-position:bottom left;
	background-repeat:no-repeat;
	background-size:100%;
	width: 80%;
	margin:auto;
}

#services {
	background-color: #585aa7;
	text-indent: 20%;
	height:14%;
}

#services-text {
	background-image:url(../../images/clouds.png);
	background-position:bottom left;
	background-repeat:no-repeat;
	background-size:100%;
	width: 80%;
	margin:auto;

}

#logos {
	background-color: #83b0de;
	text-indent: 30%;
	height:14%;
}

#logos-text {
	text-align: center;
	width: 80%;
	margin:auto;
}

#web-sites {
	background-color: #83c884;
	text-indent: 40%;
	height:14%;
}

#web-sites-text {
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	width: 80%;
	margin:auto;
}

#web-design img {
	margin: 0.313em;
	padding: 0.313em;
}

#your-vision {
	text-indent: 50%;
	background-color: #e8e858;
	height:14%;
}

#your-vision-text {
	width: 80%;
	margin:auto;

}

#contact {
	background-color: #e5993a;
	text-indent: 60%;
	height:14%;
}

#contact-text {
	width: 80%;
	margin:auto;
}

#footer {
	font-size: 1em;
	line-height: 2em;
	font-weight: bold;
	padding-top: .25em;
	color: #dbdcdd;
	background-color: #ca525c;
	margin: 0px;
	height:14%;
	text-indent: 10%;
}

/* end setting styles for named menu elements and corresponding content. */

/* begin setting style classes applied throughout page content. */

/* classes for menu titles */

.light {
	color: #DBDCDD;
	margin: 0em;
	padding: .25em 0;
	font-family: Calligraffitti;
	font-weight: bold;
	text-shadow: 0.1em 0.1em 0.1em #111;

}

.trangle {
	width:0.750em;
	height:0.625em;
}


/* end classes for menu titles */

/* classes for expanded, slide-out page content */

.text {
	font-family: "Arapey";
	font-size: 1.5em;
	color: #5A5A5A;
	padding:1em;
	margin: 0;
	text-align:left;
}

li.text {
	list-style: none;
	padding:5% 10% 0 10%;
}

.color {
	color: #c9515c;
	font-weight:bold;
}

/* end classes for expanded, slide-out page content */

/* end setting style classes applied throughout page content. */

